@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Caveat+Brush&family=Caveat:wght@400;500;600&family=Chelsea+Market&family=Poppins:ital,wght@0,200;0,600;1,400&family=Questrial&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:0;
 
}

.upp {
  width: 100%;
  height: 100vh;
  font-family: Poppins, sans-serif;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: transparent;
  
}
.container-fluid .logo img{
  width: 50px;
  height: 50px;
  filter: invert(1);  
}

.navbar {
  border-style: solid none solid none ;
   /** border-color: #b34141 #fdfdfd #489182 #fdfdfd;**/
   border-color: #0e1215 #0e1215 #0e1215 #0e1215;
    background-color: #0e1215;
    padding: 0 2% ;
    position: fixed;
    width: 100%;
    align-items: center;
    font-family: Poppins, sans-serif;
    z-index: 5;
}

#MYNAV ul li a{
  color: #fee6da;
  font-weight: bold;
  margin-left: 40px;
  vertical-align: middle;
}

#MYNAV ul li a:hover{
    color: #fcb18c;
    text-transform: uppercase;
    width:120x;
    transition: 0.5s;
    font-size: 15px;
    border-bottom: 4px solid #910404;
    vertical-align: middle;
    
}
.active {
  text-transform: uppercase;
  border-bottom: 4px solid #910404;
}

.navbar-toggler , .navbar-toggler-icon {
  background-color: #df861d;
}

#LogIn-btn {  
  width:fit-content; 
  background-color: #fd6969;
  border-radius: 10px;
  font-family: 'Questrial', sans-serif;
  border: 1px solid #212121;
 
}

#LogIn-btn a{
   text-decoration: none;
   color: black;
}

#LogIn-btn:hover {
color: black;
text-transform: uppercase;
width:auto;
transition: 0.25s;
background-color: #f09e6e;
font-weight: bold;
}



.strip {
  background-image: url(strip1.jpg);
  background-size: cover;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.strip1 h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 8px #1a0505;
  transition: 0.5s;
  letter-spacing: 4px;
  text-align: center;
  padding: 10px 50px;
  z-index: 3;
}

.nav2  {
  margin-top: 90px;
  position: fixed;  
  background-color: #0e1215;
  padding: 8px;
  z-index: 3;
  width: 100%;
  }

  .nav2 ul a {
    text-decoration: none;
    color: #818181;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    padding: 10px 20px 0 50px;
    font-weight: bold;
  }

.nav2 ul li a:hover {
    color: #fcb18c;
    text-transform: uppercase;
    width:120x;
    transition: 0.5s;
    vertical-align: middle;
}
  .nav2 .active-p {
    text-transform: uppercase;
    color: black;
    background-color:#df861d;
    font-weight: bold;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
  }



.col-12 {
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    color: #FDF0B8;
    background-color: #8d3800;
    text-shadow: 3px 3px 8px rgb(10, 10, 10);
    width:100%;
    text-align: center;
    padding-top: 3px;
    margin-right: 20%;
    margin-top: 10%;
  
}

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto;
  gap:10px;
  padding: 10px 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
}

.grid-item {
  background-color: #ffffffcc;
  text-align: center;
}

.grid-item img {
  padding: 0px 30px; 
}

.card {
  border-radius: 30px;

}

  .card-title {
    font-size: 20px;
}

  .card-text {
    font-size: 12px;
    text-align: left;
}


